body {
  background-color: aqua;
}
.upper-container {
  border: 1px solid #000;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  border: 1px solid #000;
  height: 108.25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover {
  background-color: rgba(36, 160, 255, 0.2);
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}
.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}
.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box-text {
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 4px 4px 5px gray;
}

.info {
  border: 2px solid;
  height: 100%;
  position: relative;
  text-align: center;
}
.resetBtn {
  height: 50px;
  width: 130px;
  font-size: 19px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 60px);
}
.active-player,
.player-won {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
}
.active-player span {
  font-weight: bold;
}

/* lines  */
.line1 {
  height: 100%;
}
.win-lines,
.win-lose-box {
  position: absolute;
  border: 1px solid #000;
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  width: calc(50% - 25px);
  /* background-color: gray; */
}
/* .win-lines {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .line {
  border: 3px solid #000;
  height: 109%;
}
.line1 {
  transform: rotate(-42deg);
} */
/* .line {
} */
.line {
  height: 5px;
  width: 0%;
  transform: rotate(0) translateY(55px) translateX(15px);
}
.horizontal-line1 {
  transition: 0.5s;
  opacity: 1;
  background-color: black;
  position: absolute;
  height: 5px;
  width: 40%;
  transform: rotate(0) translateY(50px) translateX(15px);
}
.horizontal-line2 {
  height: 5px;
  width: calc(45%);
  transform: rotate(0);
  top: 183px;
  left: 22px;
}
.horizontal-line3 {
  height: 5px;
  width: calc(45%);
  transform: rotate(0) translateY(110px);
  top: 183px;
  left: 22px;
}
.vertical-line1 {
  width: 5px;
  height: calc(80%);
  top: 10%;
  left: 10.5%;
}
.vertical-line2 {
  width: 5px;
  height: calc(80%);
  top: 10%;
  left: 25.8%;
}
.vertical-line3 {
  width: 5px;
  height: calc(80%);
  top: 10%;
  left: 41.1%;
}

/* cross1  */
/* transform: rotate(47deg);
width: calc(53%);
top: 183px;
left: 0px; */

/* cross2  */
/*  not present : transform: translate(30%, 120px) rotate(45.5deg); 
  height: 5px;
  width: calc(53%);
  top: 183px;
  left: 0;
  transform: rotate(48deg);   translate(31%, 125px) */

/* horizontal line1 */

/* horizontal line2  */

/* horizontal line3  */

/* Vertical line1 */

/* Vertical line2 */

/* Vertical line3 */
.home {
  text-align: left;
  padding: 5px 0 0 5px;
}
.home i {
  cursor: pointer;
}
.box-text::before {
  content: "";
}
.game.hover-mark-x.at-first .box:hover .box-text::before {
  content: "X";
  color: rgba(128, 128, 128, 0.5);
  text-shadow: none;
}
.game.hover-mark-x .box:hover .box-text.empty::before {
  content: "X";
  color: rgba(128, 128, 128, 0.5);
  text-shadow: none;
}
.game.hover-mark-o .box:hover .box-text.empty::before {
  content: "O";
  color: rgba(128, 128, 128, 0.5);
  text-shadow: none;
}
/* .box:hover .box-text.hover-mark-X::before {
  content: "X";
  color: rgba(128, 128, 128, 0.5);
  text-shadow: none;
}
.box:hover .box-text.hover-mark-O::before {
  content: "O";
  color: rgba(128, 128, 128, 0.5);
  text-shadow: none;
} */
/* .change-cursor {
  cursor: not-allowed !important;
} */
